<!DOCTYPE html>
<html>

<head>
   
    <title>
        V17 {{ page.title }}
    </title>
</head>
<h1> Student Identification System </h1>
<div>
    <table>
        <tr>
            <td>FirstName</td>
            <td>{{ page.FirstName }}</td>
            <td rowspan="4">
                <img src="/images/{{ page.img }}">
            </td>
        </tr>
        <tr>
            <td>LastName </td>
            <td>{{ page.LastName }}</td>
        </tr>

        <tr>
            <td>Grade</td>
            <td>{{ page.Grade }} </td>
        </tr>
    </table>

</div>

</html>
